body {
   color: #0E294B;
   background-color: #CCCCFF;
   text-align: left;
}
.Times {
    font-family:Times New Roman;
     text-align: left;
}

.Arial {
    font-family:Times New Roman;
     text-align: left;
}
