body {
   color: #0E294B;
   background-color: #CCCCFF;
   text-align: left;
}
.Times {
    font-family:Times New Roman;
     text-align: left;
}

.Arial {
    font-family: Arial;
     text-align: left;
}

.Courier{
    font-family: Courier;
     text-align: left;
}

.Sans{
    font-family: Sans Serif;
     text-align: left;
}

.Helvetica{
    font-family: Helvetica;
     text-align: left;
}

.Georgia{
    font-family: Georgia;
     text-align: left;
}
